<% layout('boilerplate') -%>
<h1>I am the <%= what %> </h1>
<h2>auth <%= auth %> </h2>
<p>
<a href="/simplesso/login">Login</a>
<a href="/simplesso/login">Logout</a>
<ul>
	<%-partial('app',apps) %>
</ul>
</p>